<?php

# !IMPORTANT! rename this to config.php !IMPORTANT!

########################################
#									   #
#		Created by xman8830			   #
#									   #
########################################									

########################################
#									   #
#   	Version by Lukas Westholt      #
#									   #
########################################	
date_default_timezone_set('Europe/Berlin');//Time zone
$config = [];
$config['cache_name'] = 'server'; //Name cache
$config['ipinfo_token'] = ''; //https://ipinfo.io/account
$config['apikey_openweathermap'] = ''; //https://openweathermap.org/api
$config['ts3']['host'] = '';  //Host IP
$config['ts3']['login_port'] = '';  //Port Server
$config['ts3']['query_port'] = ''; //Port Query
$config['ts3']['login'] = ''; //Login Query
$config['ts3']['password'] = '';  //Password Query

$config['settings'] = 'auto'; // "auto" - refresh website or "bot" - screen bot refresh

$config['banner']['format'] = 'png'; //Format png/jpg
$config['banner']['background'] = 'img/banner.png'; //link to background png/jpg
$admingroups = array(6); //id admins groups
$config['img']['found_nick'] = 'unknown';// Nick if not found nick
$config['lang'] = 'en';//Language pl/en/de
